<header>
<nav>
<ul id = "horizontal-list">
  <li>ABOUT</li>
  <li>CONTACT US</li>
  <li>LINKS</li>
  <li>PRIVACY POLICY</li>
  <li>ADVERTISE</li>
</ul>
</nav>
</header>

<main id = "posts-index">
<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<% if user_signed_in? ==false%>
<%=link_to 'Sign-in', '/users/sign_in', class:"sign-in-post-style" %>
<% end %>

  
   <!--  <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr> -->
 

  <div id = "material">
    <% @posts.each do |post| %>
     
        <%= post.title %>
        <br>
        <div id = "material-links">
        <%= link_to 'Show', post, class: 'edit-link'  %>
        <% if user_signed_in? %>
        <% if current_user.id == post.user_id %>
        <%= link_to 'Edit', edit_post_path(post),class: 'edit-link' %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' },class: 'edit-link' %>
        <% end %>
        <% end %>
        </div>
    
    <% end %>

  </div>
  


<br>
<% if user_signed_in? %>
<%= link_to 'New Post', new_post_path, class: "sign-in-post-style" %>
<% end %>
</main>