<h1 class = "new-post-style">New Post</h1>

<%=form_for @post do |f| %>

	<%= f.label :title, class: "new-post-style" %>
	<%= f.text_area :title %>

	<br>
	<%= f.label :content, class: "new-post-style" %>
	<%= f.text_area :content %>

	<%= f.submit %>
	<% end %>

<%= link_to 'Back', posts_path %>
