<p id="notice"><%= notice %></p>

<div id = "paragh-content">
<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

</div>
	<% if user_signed_in? %>
	<% if current_user.id == @post.user_id %>
	<div>
		
			<%= form_for @image,html: { multipart: true }, remote:false do |f| %>

				<%= f.label :image %>
				<%= f.file_field :avatar %>

				<%= f.hidden_field :post_id, value: @post.id%>

				<%= f.submit %>

				<% end %>

	</div>
	<% end %>
	<% end %>
	
	<div id = "image-parent-style">

		<% @post.images.each do |img| %>
  		<%= image_tag img.avatar.url, id:"image-style" %>
  		<% if user_signed_in? %>
		<% if current_user.id == @post.user_id %>
  		<%= link_to "image-delete", images_delete_path(img), method: :delete %>
  		<% end %>
  		<% end %>
		<% end %>
		

	</div>

	<div id = "comment-style">
	
			<%= form_for @comment do |f| %>

				<%= f.label :content %>
				<%= f.text_field :content %>

				<%= f.hidden_field :post_id, value: @post.id %>
				<%= f.submit %>
			<% end %>

	
	
	</div>

	

	<div id = "comment-list-style">
		<div id = "comment-heading-style">
			<p> Comments </p>
		</div>

		<% @post.comments.reverse.each do |comment| %>
		
		<%= comment.content %>----<%= comment.user.email %>
		<% if user_signed_in? %>
		<% if current_user.id == @post.user_id %>
		<%= link_to "delete", comments_delete_path(comment), method: :delete %>
		<% end %>
		<% end %>
		<br>
		<% end %>

		

		

	</div>






<div>
	<% if user_signed_in? %>
<% if current_user.id == @post.user_id %>
<%= link_to 'Edit', edit_post_path(@post),class: "show-tags" %> 
<% end %>
<% end %>

<%= link_to 'Back', posts_path,class: "show-tags" %>
</div>
